<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery.jsontable/jquery.jsontable.js"></script>
    <script src="/bower_components/mustache/mustache.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>

<div class="jumbotron">
    <div class="container">
        <div class="row buttonIndex">
            <div class="col-md-3">
                <a href="/user" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Покупці
                </a>
                <a href="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Замовлення
                </a>
            </div>
            <div class="col-md-3">
                <a href="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Категорії
                </a>
                <a href="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Підкатегорії
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Товари
                </a>
                <a href="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Скарги
                </a>
            </div>
            <div class="col-md-3">
                <a href="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Сесії
                </a>
                <a href="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Бажання
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>