@import "loader.css";
@fs-component-variable: #fff;

body {
    background-color: grey;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.buttonIndex a{
    width: 100%;
    margin: 2%;
}
table{
    widtd: 1280px;
}
.navbar-collapse h3{
    padding:0;
    margin: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-right  {
    display: block;
    background-image: url(/img/repair-database.png)!important;
    width: 55px;
    height: 100%;
    background-position: center;
    background-size: 84%;
    background-repeat: no-repeat;
}
.navbar-right  .dropdown-toggle{
    background-color: transparent!important;
}
.navbar-brand div{
    display: block;
    background-image: url(/img/eCommerce-logo.jpg);
    width: 200px;
    height: 100%;
    background-position: center;
    background-size: 72%;
    background-repeat: no-repeat;
}
footer navbar{
    margin: 0;
}