@import "loader.css";
@fs-component-variable: #fff;

body {
    background-color: grey;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.buttonIndex a{
    width: 100%;
    margin: 2%;
}
table{
    widtd: 1280px;
}

